body {
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

input[type="search"] {
    padding: 4px;
    width: 150px;
    margin: 20px 0;
}

.row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:5px;
}

.display{
    gap:5px
    margin:5px;
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background: #f9f9f9;
}

.heading{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background:#000;
    color:#fff;
}

@media (max-width: 768px) {
  .employee-card {
    width: 100%;
  }
    .heading{
    display: flex;
    flex-direction:columns;
    justify-content: space-between;
}
}

footer{
    background:#000;
    max-width:95vw;
    color:#fff;
    padding:15px;
}